# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
egg-info/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
venv/
ENV/
env.bak/ 
venv.bak/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Example data files
data/*.csv
